<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13090749-7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-13090749-7');
  </script>
  <title>Peter Vavro = Full Stack Engineer</title>
  <meta charset="utf-8">
  <meta name="Charset" content="UTF-8">
  <meta name="description"
    content="I am a Full Stack Engineer, programming since 1994, and my main language is JavaScript.">
  <meta name="keywords"
    content="Peter Vavro,developer,backen,frontend,programming,engineer,personal,website,presentation, presentation of work">
  <meta name="author" content="Peter Vavro">
  <meta name="copyright" content="Peter Vavro">
  <meta name="Rating" content="General">
  <meta name="Distribution" content="Global">
  <meta name="Revisit-after" content="7 Days">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="msvalidate.01" content="FEBB973C4B6B911E33AF5D4E3AE8E074" />
  <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#343a40">
  <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
  <meta name="theme-color" content="#343a40">
  <% if (process.env.NODE_ENV !== 'development') { %>
  <base href="https://www.vavro.me/" target="_blank"><% } %>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.vavro.me/">
  <meta property="og:title" content="Peter Vavro = Full Stack Engineer">
  <meta property="og:description"
    content="I am a Full Stack Engineer, programming since 1994, and my main language is JavaScript.">
  <meta property="og:image" content="https://www.vavro.me/logo-vavro_me.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.vavro.me/">
  <meta property="twitter:title" content="Peter Vavro = Full Stack Engineer">
  <meta property="twitter:description"
    content="I am a Full Stack Engineer, programming since 1994, and my main language is JavaScript.">
  <meta property="twitter:image" content="https://www.vavro.me/logo-vavro_me.png">

</head>

<body>
  <% var mailto = '&#112;&#101;&#116;&#101;&#114;&#064;&#118;&#097;&#118;&#114;&#111;&#046;&#109;&#101;?&subject=Hi&body=Hi+Peter%2C%0D%0A%0D%0A'; %>
  <!-- Modal -->
  <div class="modal fade" id="projectsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header-custom text-right py-3">
          <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
            <span class="sr-only">(Close)</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
            </div>
            <% projects.forEach(function(project){ %>
            <div class="row job <%= project.id %> d-none bg-C shadow text-dark py-5 p-3">
              <div class="col-lg-8">
                <h3 class="d-inline-block bg-dark p-3 mb-3"><%= project.title %></h3><!-- p-1 px-3 block-inline -->
                <p class="desc"><%= project.description %></p>
                <% if (false) { %>
                <div class="platforms">
                  <% if (project.platforms.split(",").includes("web") === true) { %><span title="Web app"
                    class="web d-inline-block"></span><% } %>
                  <% if (project.platforms.split(",").includes("mobile") === true) { %><span title="Mobile app"
                    class="mobile d-inline-block"></span><% } %>
                </div>
                <% } %>
                <hr />
                <h4>..what I did</h4>
                <p class="job-desc"><%= project.jobDescription %></p>
                <small class="year"><%= project.year %></small>
                <hr />
                <div class="used-technologies d-flex flex-wrap justify-content-center py-3 text-center animated">
                  <% project.technologies.split(",").forEach(function(projectTechnology){
                        technologies.forEach(function(technology){ 
                          if (technology.id === projectTechnology) { _%>
                  <div
                    class="technology <%= technology.id %> d-flex flex-column justify-content-center text-center animated m-3"
                    title="<%= technology.title %>">
                    <span class="bg-logo circle-sm d-flex justify-content-center align-items-center shadow"
                      style="background-image: url(images/<%= technology.thumbnailImage %>);"></span>
                  </div>
                  <% }
                        })
                      }) %>
                </div>
              </div>
              <div class="col-lg-4 pt-5 p-lg-0">
                <<% if (project.url !== "") { %>a<% } else{ %>span<% } %> target="_blank" href="<%= project.url %>"
                  title="<%= project.description %>" class="bg-thumbnail circle-lg d-flex justify-content-center align-items-center mx-auto shadow">
                  <img src="images/<%= project.backgroundImage %>" alt="Project <%= project.backgroundImage %> logo." class="">
                </<% if (project.url !== "") { %>a<% } else{ %>span<% } %>>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header>
    <nav class="navbar fixed-top navbar-expand">
      <a class="navbar-brand bg-dark px-3 animated fadeIn" href="#">Peter Vavro</a>
      <div class="collapse navbar-collapse animated fadeIn" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto p-1">
          <li class="nav-item">
            <a class="nav-link bg-logo email" href="mailto:<%= mailto %>">
              <span class="sr-only">Email</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-logo github" href="https://github.com/petervavro" target="_blank">
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-logo linkedin" href="https://www.linkedin.com/in/peter-vavro-44604163"
              target="_blank">
              <span class="sr-only">Linkedin</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main id="main">
    <article>
      <div id="intro" class="container-fluid">
        <div class="row h-100">
          <div class="col h-100">
            <div class="h-100 d-flex justify-content-center align-items-center">
              <div class="p-5">
                <div class="story-part-1">
                  <p class="text-white">Welcome.</p>
                  <button type="button" class="btn btn-outline-primary btn-start animated pulse infinite"
                    aria-label="Start">Let's start</button>
                </div>
                <div class="story-part-2 text-center d-none">
                  <div class="typed-strings d-none">
                    <p>
                      Hi.^500 it's me,^500 <strong>Peter Vavro</strong>,^500 most probably your new <strong>web & mobile
                        developer</strong>.<br />
                      How about to know more about me...<br />
                      To start, click/tap on some circles.<br />
                      Go.
                    </p>
                  </div>
                  <p class="story-text-wrapper text-white">
                    <span class="story-text"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="about" class="bg-A py-5">
        <div class="container py-5">
          <div class="row">
            <div class="col-12 col-lg-8">
              <h1 class="p-3">Peter Vavro = Full Stack Engineer</h1>
              <section class="sticky bg-B p-5 shadow">
                <h2 class="display-4 bg-dark p-1 px-3 d-inline-block text-color-C">
                  ...so
                </h2>
                <br />
                <div class="pt-3">
                  <p>
                    I am a Full Stack Engineer, programming since 1994, specialized in JavaScript.
                  </p>
                  <p>My experience includes 13+ years with JS and I am efficient in both, front and back end. In
                    front-end web and mobile: React (<span
                      class="react-years"><%= ((new Date()).getFullYear() - technologies.find(function(technology){ return (technology.id === 'react')}).year) %></span>+
                    years), React Native (<span
                      class="react-native-years"><%= ((new Date()).getFullYear() - technologies.find(function(technology){ return (technology.id === 'react-native')}).year) %></span>+
                    years), AngularJS and many other interesting frameworks and libraries. In back-end, my experience
                    includes <span
                      class="nodejs-years"><%= ((new Date()).getFullYear() - technologies.find(function(technology){ return (technology.id === 'nodejs')}).year) %></span>+
                    years with Node.js working with various frameworks such as Express.js, Sails.js, and HapiJS.</p>
                </div>
              </section>
            </div>
          </div>
          <div class="row">
            <section id="technologies" class="technologies col-12 offset-md-2 col-md-10 pt-5">
              <h2 class="d-inline-block p-3 px-md-0">Technologies...</h2>
              <% (y => y.filter((v, i) => y.indexOf(v) === i))(technologies.map(item => item.year)).forEach(function(year){ _%>
              <div class="item year-<%= year %> d-flex flex-column flex-sm-row">
                <div class="tl-date">
                  <%= year %>
                </div>
                <div class="tl-desc d-flex">
                  <% technologies.forEach(function(technology){
                    if (technology.year === year) { %>
                      <a class="technology <%= technology.id %> d-flex flex-column justify-content-center text-center animated btn btn-link"
                        target="_blank" href="<%= technology.url %>">
                        <span class="technology-label"><%= technology.title %></span>
                        <span
                          class="bg-logo <%= technology.id %> circle-sm d-flex justify-content-center align-items-center shadow"
                          style="background-image: url(images/<%= technology.thumbnailImage %>);"></span>
                      </a>
                    <% }
                  }) %>
                </div>
              </div>
              <% }) %>
            </section>
          </div>
          <div class="row">
            <div id="code" class="offset-lg-2 col-lg-10 py-5 p-lg-5">
              <section class="code bg-C p-5 shadow animated">
                <h2 class="d-inline-block bg-dark text-color-A p-1 px-3">See my code</h2>
                <div class="pt-3">
                  <% codes.forEach(function(code, i){ %>
                  <div class="code <% if (i !== (codes.length - 1)) { %>mb-5<% } %>">
                    <h3><%= code.title %></h3>
                    <div class="code-content">
                      <p><%= code.desc %></p>
                      <a class="repo-url btn btn-outline-secondary" target="_blank" href="<%= code.repoURL %>"
                        rel="external" title="<%= code.title %>">See code here</a>
                    </div>
                    <hr />
                    <div class="used-technologies d-flex flex-wrap animated">
                      <% code.technologies.split(",").forEach(function(cTechnology){
                            technologies.forEach(function(technology){ 
                              if (technology.id === cTechnology) { _%>
                      <div
                        class="technology <%= technology.id %> d-flex flex-column justify-content-center text-center animated m-1 mr-3 mt-3"
                        title="<%= technology.title %>">
                        <span class="bg-logo circle-sm d-flex justify-content-center align-items-center shadow"
                          style="background-image: url(images/<%= technology.thumbnailImage %>);"></span>
                      </div>
                      <% }
                            })
                          }) %>
                    </div>
                  </div>
                  <% }); %>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div id="projects" class="bg-C">
        <div class="container">
          <div class="row">
            <div class="offset-lg-2 col-lg-10 py-5 p-lg-5">
              <section class="projects bg-B p-5 shadow animated">
                <h2 class="d-inline-block bg-dark p-1 px-3">Projects</h2>
                <div class="text-center pt-3">
                  <% projects.forEach(function(project){ %>
                  <button type="button" data-toggle="modal" data-target="#projectsModal"
                    data-selector="<%= project.id %>"
                    class="item bg-thumbnail <%= project.id %> spin shadow circle-md hover-animation-type-1 m-3"
                    style="background-image: url(images/<%= project.backgroundImage %>);" title="<%= project.title %>"
                    aria-label="Project <%= project.title %>"></button>
                  <% }); %>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
  <footer class="container pb-5">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center py-5 my-5">
        <a class="btn email-me bg-A d-flex justify-content-center align-items-center circle-lg hover-animation-type-1"
          href="mailto:<%= mailto %>">
          Contact me
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="float-right">
          <a href="#" class="btn btn-outline-primary">Back to top</a>
        </p>
        <p>
          <small>&copy; 2013-2020 Peter Vavro.</small>
        </p>
      </div>
    </div>
  </footer>
</body>

</html>